$primaryPink: #f06277;
$secondaryRPink: #ef1636;
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Montserrat", sans-serif, Arial, Helvetica, sans-serif;
  transition: 0.2s all ease;
  scroll-behavior: smooth;
}
html {
  width: 100%;
  height: 100%;
}
body {
  width: 100%;
}
main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

/* --------- REMOVER DEPOIS ----------- */
.c-image {
  width: 50%;
  object-fit: cover;
}
/* Utils */
.u-bold {
  font-weight: 700;
}
.u-uppercase {
  text-transform: uppercase;
}
.u-alignCenter {
  text-align: center;
}
.u-active {
  background-color: #fff;
  color: $secondaryRPink !important;
}

/* Footer Style */
.c-footer {
  height: 230px;
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
}
.c-footer__high,
.c-footer__low {
  padding: 16px 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.c-footer__high {
  background-color: #fff;
  height: 60%;
  .c-social__button {
    color: $primaryPink;
  }
}
.c-footer__logo {
  width: 125px;
}
.c-social {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 25px;
}
.c-footer__low {
  height: 40%;
  background-color: #f06277;
  justify-content: center;
}
.c-footer_message {
  color: #fff;
}

.c-button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 10px;
  font-size: 12px;
  color: white;
  font-weight: 700;
  border-radius: 10px;
}
.l-section {
  padding: 5px 5px 0 5px;
}
.c-image__jessy,
.c-image__ket,
.c-image__sara {
  display: none;
}
/* Section ana flavia */
.l-anaflavia {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  gap: 10px;
  /* height: 100vh; */
  padding: 5px;
  .c-section__infos {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    height: 100%;
    gap: 10px;
  }
  .c-image__title {
    width: 100%;
    justify-self: flex-end;
  }
  .c-infos {
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    flex-direction: column;
    gap: 5px;
  }
  .c-section__text {
    color: $primaryPink;
    font-size: 14px;
  }
  .c-button {
    background-color: $primaryPink;
  }
}
/* Section Sara */
.l-sara {
  padding: 10px;
  background-color: #fcebed;
  /* height: 100vh; */
  .c-section__infos {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;

    .c-section__title {
      color: $secondaryRPink;
      font-weight: 700;
      line-height: 35px;
    }
    .c-list {
      padding: 0 24px;
      display: flex;
      align-items: flex-start;
      justify-content: flex-start;
      flex-direction: column;
      gap: 16px;
      margin-bottom: 32px;
      .c-list__item:first-child,
      .c-list__item:last-child {
        margin-top: 16px;
        color: $secondaryRPink;
        font-weight: 600;
        font-size: 18px;
      }
      .c-list__item {
        font-weight: 400;
      }
    }
    .c-button {
      background-color: $secondaryRPink;
    }
  }
}
/* Section jessy */
.l-jessy {
  padding: 10px;
  /* height: 100vh; */
  .c-section__infos {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;

    .c-section__title {
      color: $primaryPink;
      font-weight: 700;
      line-height: 35px;
      margin-bottom: 16px;
    }
    .c-list {
      padding: 0 24px;
      display: flex;
      align-items: flex-start;
      justify-content: flex-start;
      flex-direction: column;
      gap: 16px;
      margin-bottom: 32px;
      .c-list__item {
        font-weight: 400;
      }
    }
    .c-button {
      background-color: $primaryPink;
    }
  }
}
/*Section journey*/
.l-journey {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: $primaryPink;
  background-image: url("../imagens/fundo.svg");
  background-position: center;
  background-size: 80%;
  background-repeat: no-repeat;
  width: 100%;
  padding: 35px;
  .c-section__title {
    color: #fff;
    text-align: center;
    margin-bottom: 16px;
  }
  .c-journey {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
  }
  .c-journey__item {
    height: 50%;
    
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    color: #fff;
    margin: 16px;
  }
  .c-journey__number {
    height: 70px;
    width: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8.28px;
    border: 2px solid #fff;
    margin-bottom: 10px;
  }
  .c-journey__date {
    font-weight: 600;
    width: 100%;
  }
  .c-journey__line {
    height: 50px;
    width: 2px;
    background: #fff;
  }
}
/* Section ket */
.l-ket {
  .c-section__title {
    color: $primaryPink;
    font-weight: 400;
    line-height: 35px;
    margin-bottom: 16px;
  }
  .c-section__paragraph {
    font-size: 18px;
    line-height: 27px;
  }
  .c-mvp {
    margin: 16px 0;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    gap: 24px;
    width: 100%;
  }
  .c-mvp__card {
    width: 100%;
  }
  .c-mvp__title {
    font-weight: 900;
    color: $primaryPink;
    margin-left: 5px;
  }
  .c-mvp__description {
    color: #fff;
    background-color: $primaryPink;
    border-radius: 10px;
    padding: 16px;
    width: 100%;
    list-style-type: none;
  }
}
.l-section__form {
  width: 100%;
  padding: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  .c-section__title {
    margin: 25px;
    color: $primaryPink;
  }
  .c-form {
    height: 100%;
    width: 100%;
    box-shadow: 0px 0px 37px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 25px;
  }
  .c-form__title {
    margin: 25px;
    color: $primaryPink;
  }
  .c-form__container {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    gap: 8px;
    width: 100%;
    .c-form__input {
      width: 100%;
      padding: 6px;
      border: 1px solid $primaryPink;
      border-radius: 5px;
    }
    .c-desired {
      width: 100%;
    }
    .img-camaleao {
      max-width: 70%;
      align-self: center;
    }
    .c-button {
      border: none;
      width: 150px;
      padding: 10px 30px;
      background-color: $primaryPink;
      align-self: center;
      cursor: pointer;
    }
  }
}
.c-button{
  align-self: center;
}
.c-button:hover {
  filter: brightness(125%);
}
@media (min-width: 768px) {
  .c-button{
    align-self: initial;
  }
  h2{
    font-size: 36px;
  }
  .l-anaflavia .c-section__text{
    font-size: 24px;
  }
  .l-section__form .c-form {
    width: 70%;
  }
  .l-section__form .c-form__container {
    gap: 12px;
  }
  .l-section__form .c-form__container .c-form__input {
    padding: 10px 6px;
  }
  .c-image__jessy,
  .c-image__ket,
  .c-image__sara {
    display: inline-block;
  }
  .l-section {
    display: flex;
    align-items: center;
    justify-content: center;
    padding:0;
  }
  .l-sara {
    padding: 10px 0 0 10px;
  }
  .l-anaflavia .c-section__infos {
    align-items: flex-start;
  }
  .l-jessy{
    gap: 25px;
  }
  .l-jessy .c-section__infos .c-list {
    gap: 16px;
  }
  
  .l-journey .c-journey {
    flex-direction: row;
  }
  .l-journey{
    height: 100vh;
  }
  .l-journey .c-journey .c-journey__item{
    height: 100%;
  }
  .l-journey .c-journey .c-journey__line{
    height: 2px;
    width: 50px;
  }
}

